<div class="center">
	<div class="header">
		<div class="menu">
			<span></span>
			<span></span>
			<span></span>
			<p class="menu__text">меню</p>
		</div>
		<div class="logo">
			<img src="./img/logo-2.png" alt="" class="logo_img">
		</div>
		<div class="phone">
			<img src="./img/fill-2.png" alt="" class="icon icon-fill-2">
		</div>
		<div class="contacts">
			<div class="contacts__part">
				<button class="contacts__btn">Заказать звонок</button>
				<p class="contacts__info contacts__info_big">+7 (495) 966-07-66</p>
			</div>
			<div class="contacts__part">
				<button class="contacts__btn">Документы</button>
				<p class="contacts__info">г.Москва, Цаетной бульвар, д. 32, к. 4</p>
			</div>
		</div>
	</div>
	<div class="caption">
		<h2 class="caption__text">индивидуальная арчитектура в европейском стиле</h2>
		<div class="more">
			<button class="more__btn">подробнее</button>
		</div>
	</div>
	<div class="footer">
		<ul class="nav-list">
			<li class="nav-list__item"><a href="" class="nav-list__link">дом</a></li>
			<li class="nav-list__item"><a href="" class="nav-list__link">архитектура</a></li>
			<li class="nav-list__item"><a href="" class="nav-list__link">интерьер</a></li>
			<li class="nav-list__item"><a href="" class="nav-list__link">помещение</a></li>
			<li class="nav-list__item"><a href="" class="nav-list__link">команда</a></li>
		</ul>
		<div class="social">
			<img src="./img/facebook.png" alt="" class="icon icon-facebook">
			<img src="./img/inst.png" alt="" class="icon icon-inst">
		</div>
		<div class="partners">
			<img src="./img/mr-black.png" alt="" class="partners__img">
		</div>
	</div>
</div>
